@using Humanizer;
<div class="mx-2 mx-md-3">
  <div class="input-group flex-nowrap" id="@Id">
    <div class="input-group-prepend">
      <select class="form-select ms-one"
              aria-label="Select Cost Types"
              @bind="@Property.CapXType"
              disabled="@(!Enabled)">
        @foreach (var costType in _costTypes)
        {
          <option class="me-3" value="@costType" selected=@(costType == Property.CapXType)>
            @costType.Humanize(LetterCasing.Title)
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          </option>
        }
      </select>
    </div>
    <input class="form-control me-one"
           @bind-value="@_capx"
           aria-label="Capx input"
           disabled="@(!Enabled)"
           @onblur="FormatToDecimal"
           @onfocus="FormatToNumber"/>
  </div>
</div>
