<div class="row gt-3 mt-3 mb-2">
  <div class="col-md-12">
    <h3>Loan To Value: @Property.LTV.ToString("P")</h3>
  </div>
</div>

<div class="row gt-3 mt-3 mb-2">
  <div class="col-md-12">
    <TelerikGrid Data=@Mortgages
                 ConfirmDelete="true"
                 OnDelete=@OnDelete>
      <GridToolBar>
        @if(Property.LoanType == MultiFamilyPortal.Data.Models.UnderwritingLoanType.Custom)
        {
          <AuthorizedPolicy Policy=@PortalPolicy.Underwriter>
            <div class="flex" style="margin-left: auto;">
              <GridCommandButton Command="CreateMortgage"
                                 Icon="add"
                                 Title="Add"
                                 Primary="true"
                                 OnClick=@OnCreate>
                Add
              </GridCommandButton>
            </div>
          </AuthorizedPolicy>
        }
      </GridToolBar>
      <GridColumns>
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.LoanAmount))"
                    TextAlign="ColumnTextAlign.Center"
                    Title="Loan Amount"
                    DisplayFormat="{0:C}">
          <FooterTemplate>
            <div class="text-center">
              @Mortgages.Sum(x => x.LoanAmount).ToString("C")
            </div>
          </FooterTemplate>
        </GridColumn>
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.InterestRate))"
                    TextAlign="ColumnTextAlign.Center"
                    Width="180px"
                    Title="Rate"
                    DisplayFormat="{0:P}" />
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.TermInYears))"
                    Width="180px"
                    Title="Term (years)">
          <Template>
            @{ var mortgage = context as UnderwritingAnalysisMortgage; }
            <div class="text-center">
              @if(mortgage.InterestOnly)
              {
                <span>@mortgage.TermInYears I/O</span>
              }
              else if(mortgage.BalloonMonths > 0)
              {
                <span>@mortgage.TermInYears / @(mortgage.BalloonMonths / 12) Balloon</span>
              }
              else
              {
                <span>@mortgage.TermInYears</span>
              }
            </div>
          </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.PointCost))"
                    TextAlign="ColumnTextAlign.Center"
                    Width="220px"
                    Title="Point Cost"
                    DisplayFormat="{0:C}">
          <FooterTemplate>
            <div class="text-center">
              @Mortgages.Sum(x => x.PointCost).ToString("C")
            </div>
          </FooterTemplate>
        </GridColumn>
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.BalloonMonths))"
                    TextAlign="ColumnTextAlign.Center"
                    Width="180px"
                    Title="Balloon Months"
                    DisplayFormat="{0:G}" />
        <GridColumn Field="@(nameof(UnderwritingAnalysisMortgage.AnnualDebtService))"
                    TextAlign="ColumnTextAlign.Center"
                    Title="Annual Debt Service"
                    DisplayFormat="{0:C}">
          <FooterTemplate>
            <div class="text-center">
              @Mortgages.Sum(x => x.AnnualDebtService).ToString("C")
            </div>
          </FooterTemplate>
        </GridColumn>
        <AuthorizedPolicy Policy=@PortalPolicy.Underwriter>
          <GridCommandColumn Width="220px">
            <div class="text-center">
              <GridCommandButton Command="CustomEdit" Icon="edit" Title="Edit" OnClick=@OnEdit>Edit</GridCommandButton>
              @if(Property.LoanType == Data.Models.UnderwritingLoanType.Custom)
              {
                <GridCommandButton Command="Delete" Icon="delete" Title="Delete">Delete</GridCommandButton>
              }
            </div>
          </GridCommandColumn>
        </AuthorizedPolicy>
        
      </GridColumns>
    </TelerikGrid>
  </div>
</div>

<AuthorizedPolicy Policy=@PortalPolicy.Underwriter>
  @if (Property.LoanType == Data.Models.UnderwritingLoanType.Custom)
  {
    <UnderwritingMortgageDialog Title="Add Mortgage"
                                LoanType=@Property.LoanType
                                @bind-Mortgage=@AddMortgage
                                OnSave=@OnSaveNewMortage />
  }

  <UnderwritingMortgageDialog Title="Edit Mortgage"
                              LoanType=@Property.LoanType
                              @bind-Mortgage=@EditMortgage
                              Update="true"
                              OnSave=@OnUpdateMortgage />
</AuthorizedPolicy>
