<TelerikGrid Data="@_filteredUnits"
             Height="600px"
             Sortable="true"
             Pageable="true"
             Resizable="true"
             Reorderable="true">
<GridToolBar>
    <span class="k-toolbar-spacer"></span>
    @if(_editable)
    {
      <GridCommandButton Primary=@true
                         IconClass="fa-duotone fa-plus"
                         OnClick="@OnAddFloorUnits">Add</GridCommandButton>
    }
  </GridToolBar>
  <GridColumns>
    <GridColumn Field="@(nameof(DisplayUnit.UnitName))" Title="Unit" />
    <GridColumn Field="@(nameof(DisplayUnit.Renter))" Title="Tenant Name" Width="15%">
      <Template>
        @{ var unit = context as DisplayUnit; }
        @(string.IsNullOrEmpty(unit.Renter) ? "N/A" : unit.Renter)
      </Template>
    </GridColumn>
    <GridColumn Field="@(nameof(DisplayUnit.FloorPlanName))" Title="Floor Plan" />
    <GridColumn Field="@(nameof(DisplayUnit.Rent))" Title="Monthly Rent ($)" DisplayFormat="{0:C}" />
    <GridColumn Field="@(nameof(DisplayUnit.Balance))" Title="Balance ($)" DisplayFormat="{0:C}" />
    <GridColumn Field="@(nameof(DisplayUnit.DepositOnHand))" Title="Deposit ($)" DisplayFormat="{0:C}" />
    <GridColumn Field="@(nameof(DisplayUnit.LeaseStart))" Title="Lease Start" >
      <Template>
        @{ var unit = context as DisplayUnit; }
        @(unit.LeaseStart.HasValue ? unit.LeaseStart.Value.ToString($"MM/yyyy") : "N/A")
      </Template>
    </GridColumn>
    <GridColumn Field="@(nameof(DisplayUnit.LeaseEnd))" Title="Lease End">
      <Template>
        @{ var unit = context as DisplayUnit; }
        @(unit.LeaseEnd.HasValue ? unit.LeaseEnd.Value.ToString($"MM/yyyy") : "N/A")
      </Template>
    </GridColumn>
    <GridCommandColumn>
      <div class="text-center">
        <GridCommandButton OnClick="UpdateUnit" Icon="edit">
          Edit
        </GridCommandButton>
      </div>
    </GridCommandColumn>
  </GridColumns>
</TelerikGrid>

@if (_unit != null)
{
  <TelerikWindow Centered="true"
                 Modal="true"
                 Visible=@(_unit != null)
                 Width="600px">
    <WindowTitle>
      <strong>Edit @_unit.UnitName</strong>
    </WindowTitle>
    <WindowActions>
      <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
      <TelerikTabStrip TabPosition="TabPosition.Top" Class="res-tabstrip">
        <TabStripTab Title="Units">
          <UnderwritingRollUnitsControls @bind-Unit=@_unit />
        </TabStripTab>
        <TabStripTab Title="Ledger">
          <div class="my-3"><ComingSoon /></div>
        </TabStripTab>
      </TelerikTabStrip>
    </WindowContent>
  </TelerikWindow>
}

@if (_showAddUnit)
{
  <TelerikWindow Centered="true"
                 Modal="true"
                 Visible=@_showAddUnit
                 Width="600px">
    <WindowTitle>
      <strong>Add New Unit(s)</strong>
    </WindowTitle>
    <WindowActions>
      <WindowAction Name="Close" OnClick=@(() => _showAddUnit = false) />
    </WindowActions>
    <WindowContent>
      <div class="row">
        <div class="col-12 my-3">
          <select class="form-select" aria-label="Select Floor Plan" @onchange="ChooseFloor">
            @foreach (var floor in _allFloors)
            {
              <option selected="@(floor?.Id == _floor?.Id)" value="@floor.Id">@floor.Name</option>
           }
          </select>
        </div>
      </div>
      <Animation OptionsName="Page">
        @if(_newUnit != null)
        {
          <UnderwritingRollUnitsControls Unit="@_newUnit"  />
        }
      </Animation>
    </WindowContent>
  </TelerikWindow>
}
